@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/open-sauce-sans');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-main: 'Open Sauce Sans', sans-serif;
  }
  body {
    letter-spacing: -1px;
    font-family: var(--font-main);
  }
}
